*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;

}

.headpic {
  height: 270px;
  display: block;
  margin: auto;
}

.complete {

    width: 30%;
    height: 20%;
    display: block;
    margin: auto;

}

.signin {
    position: relative;
    margin-left: 18%;
    margin-right: 18%;
    margin-bottom: 15px;
}

input[type=email] {
    width: 80%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: green;
    border-radius: 4px;
    background-color: white;
    background-blend-mode: lighten;
}

input[type=password] {
     width: 80%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: green;
    border-radius: 4px;
    background-color: white;
    background-blend-mode: lighten;
}

input[type=submit] {
    background-color: green;
    background-blend-mode: lighten;
    padding: 10px 12px;
    border: none;
    color: white;
    text-align: center;
    cursor: default;
    margin: auto;
    margin-top: 0%;
    margin-left: 0;
    border-radius: 12px;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

input[type=submit]:hover{
  background-color: rgb(253, 176, 50);
  color: white;
}

.button {
    background-color: blue;
    background-blend-mode: lighten;
    padding: 10px 12px;
    border: none;
    color: white;
    text-align: center;
    cursor: default;
    position: inherit ;
    margin: auto;
    margin-top: -1%;
    margin-left:;
    border-radius: 12px;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(253, 176, 50);
    color: white;
}

.heading {
    font-family: 'Roboto Mono', monospace;
    font-size: 45px;
    color: rgb(253, 176, 50);
    font-family: bariol;
}

.button_fb {

    background-color: Transparent;
       background-repeat:no-repeat;
       border: none;
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

}

.button_google {
  background-color: Transparent;
     background-repeat:no-repeat;
     border: none;
    margin-left: 19%;
    font-size: 28px;
    font-family: 'Roboto Slab', serif;
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button_linkedin {
  background-color: Transparent;
     background-repeat:no-repeat;
     border: none;
    margin-left: 17%;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button_fb:hover{
background-color: rgb(253, 176, 50);
}

.button_google:hover{
background-color: rgb(253, 176, 50);
}

.button_linkedin:hover{
      background-color: rgb(253, 176, 50);
}

.hey{
	position: fixed;
	z-index: -5;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


@font-face {
  font-family: 'adam';
  src: url(adam.woff);
}

@font-face {
  font-family: bariol;
  src: url(bariol.woff);
}
